/* CSS Styling */

/* begin with mobile formatting first */

.main-hdr {
  font-size: 1.8em;
  color: #FFE23D;
  background-color: #4B0082;
  text-align: left;
  padding-left: 0.1em;
}

.primary-nav {
  display: block; /* a temporary change, I think */
  list-style-type: none;
}

.nav-items {
  list-style-type: none;
  padding: 0px;
}

.nav-items li {
  display: block;
  list-style-type: none;
  width: 40%;
  border: 2px solid #4B0082;
  border-radius: 10px;
  padding-left: 1.1em;
  text-align: left;
  height: 20px;
  margin-bottom: .3em;
  margin-right: .5em;
}

#projects {
  width: 85%;
  height: 50%;
}

.project-link {
  display: block;
}

article details[open] {
  border: 2px solid #33aa88;
  background-color: #B6E1FC;
}


@media only screen and (min-width: 915px) {
  .main-hdr {
    width: 100%;
    font-size: 2.1em;
    text-align: center;
    color: #000000;
    background-color: #33aa88;
  }

  .primary-nav {
    display: block;
  }

  .iconmenu {
    display: none;
  }

  .nav-items li {
    display: inline;
    width: 5%;
    border: 2px solid blue;
    padding-left: 1.1em;
  }

}
