/* CSS Styling */

/* Style mobile formatting first, add larger viewports farther down */

.main-hdr {
  font-size: 1.8em;
  color: #FFE23D;
  background-color: #4B0082;
  text-align: left;
  padding-left: 0.1em;
}

.primary-nav {
  list-style-type: none;
}

.primary-nav:hover .nav-items {
  display: block;
}

.nav-items {
  display: none;
  list-style-type: none;
  padding: 0px;
}

.icon-menu {
  font-size: 1.5em;
}

.nav-items li {
  display: block;
  list-style-type: none;
  width: 40%;
  border: 2px solid #4B0082;
  border-radius: 10px;
  padding-left: 0.1em;
  text-align: left;
  height: 25px;
  margin-bottom: .3em;
  margin-right: .5em;
}

.nav-items li img {
  border: 0em;
  padding-right: 0.1em;

}

#projects {
  width: 85%;
  height: 50%;
}

.project-link {
  display: block;
}

article details[open] {
  border: 2px solid #33aa88;
  background-color: #B6E1FC;
}

.prj-scrnshot {
  width: 15rem;
}

summary {
  font-size: 1.1em;
}

/* styling for larger viewports */
@media only screen and (min-width: 915px) {
  .main-hdr {
    width: 100%;
    font-size: 2.1em;
    text-align: center;
    color: #000000;
    background-color: #33aa88;
  }

  .proj-dtl-wrapper {
    overflow: auto;
  }

  .prj-scrnshot {
    float: right;
    width: 25rem;
    margin-left: .2rem;
  }

  .primary-nav {
    display: block;
  }

  .icon-menu {
    display: none;
  }

  .nav-items {
    display: block;
  }

  .nav-items li {
    display: inline;
    width: 5%;
    border: 2px solid blue;
    padding-left: 0.25em;
  }

}
